.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.zip

.hips

yarn.lock
package-lock.json
lib

packages/core/lib
packages/plugin-vue-render/lib
packages/plugin-taro-render/lib
packages/shared-utils/lib

src/views/lowcode/*

generator/config.js